.nav-wrapper{
    background-color:green !important;
}
.wrap{
    padding: 50px;
}
/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

/** { box-sizing:border-box; }

body {
    font-family: Helvetica;
    background: #eee;
  -webkit-font-smoothing: antialiased;
}

hgroup { 
    text-align:center;
    margin-top: 4em;
}

h1, h3 { font-weight: 300; }

h1 { color: #636363; }

h3 { color: #4a89dc; }

form {
    width: 380px;
    margin: 4em auto;
    padding: 3em 2em 2em 2em;
    background: #fafafa;
    border: 1px solid #ebebeb;
    box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

.group { 
    position: relative; 
    margin-bottom: 45px; 
}

input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    -webkit-appearance: none;
    display: block;
    background: #fafafa;
    color: #636363;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #757575;
}

input:focus { outline: none; }
=======
/** { box-sizing:border-box; }*/

/*body {*/
/*    font-family: Helvetica;*/
/*    background: #eee;*/
/*  -webkit-font-smoothing: antialiased;*/
/*}*/

/*hgroup { */
/*    text-align:center;*/
/*    margin-top: 4em;*/
/*}*/

/*h1, h3 { font-weight: 300; }*/

/*h1 { color: #636363; }*/

/*h3 { color: #4a89dc; }*/

/*form {*/
/*    width: 380px;*/
/*    margin: 4em auto;*/
/*    padding: 3em 2em 2em 2em;*/
/*    background: #fafafa;*/
/*    border: 1px solid #ebebeb;*/
/*    box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;*/
/*}*/

/*.group { */
/*    position: relative; */
/*    margin-bottom: 45px; */
/*}*/

/*input {*/
/*    font-size: 18px;*/
/*    padding: 10px 10px 10px 5px;*/
/*    -webkit-appearance: none;*/
/*    display: block;*/
/*    background: #fafafa;*/
/*    color: #636363;*/
/*    width: 100%;*/
/*    border: none;*/
/*    border-radius: 0;*/
/*    border-bottom: 1px solid #757575;*/
/*}*/

/*input:focus { outline: none; }*/

/*footer img:focus , footer a:focus { outline: none; }*/
