{% extends 'layout.html' %}
{% block body %}
    <script>

    // var url="http://www.recipepuppy.com/api/?i=onions,garlic&q=omelet&p=3"
        var loadNutrition = function(){
            //alert("inside");
            let userValue = document.getElementById("query").value;
            console.log("userValue ", userValue);
            
            var ourRequest= new XMLHttpRequest();
            // ourRequest.open('GET','http://www.recipepuppy.com/api/?i=onions,garlic&q=omelet&p=3')
            ourRequest.open('GET','https://api.nutritionix.com/v1_1/search/'+userValue+'?appId=62a70248'+'&appKey=4c6269d3d4c26690f9511d2103eccc48');
            // ourRequest.open('GET',url);
            ourRequest.send();
            ourRequest.onreadystatechange=function(){
                if(ourRequest.readyState == XMLHttpRequest.DONE && ourRequest.status == 200) {
                    var ourData=ourRequest.responseText;
                    console.log("ourData ", ourData);
                    var json = JSON.parse(ourData);

                    display(json);
                }
            };

        };

        var display=function(ourData){
            var show=document.getElementById("tablePrint");
            var myTable='<table>'
            myTable+='<caption>Nutrition</caption>';
            let displayText = '';
                myTable+='<th>';
                myTable+='Item Id';
                myTable+='</th>';
                myTable+='<th>';
                myTable+='Item Name';
                myTable+='</th>';
                myTable+='<th>';
                myTable+='Brand Name';
                myTable+='</th>';
                myTable+='<th>';
                myTable+='Serving size qty';
                myTable+='</th>';
                myTable+='<th>';
                myTable+='Serving size Unit';
                myTable+='</th>';
                //alert(ourData['hits'].length);
            for(var i=0;i<ourData['hits'].length;i++){
                myTable+='<tr>';  
                myTable+='<td>';
                myTable+=ourData['hits'][i]['fields']['item_id'];
               
                myTable+='</td>';
                myTable+='<td>';
                myTable+=ourData['hits'][i]['fields']['item_name'];
                myTable+='</td>';
                myTable+='<td>';
                myTable+=ourData['hits'][i]['fields']['brand_name'];
                myTable+='</td>';
                myTable+='<td>';
                myTable+=ourData['hits'][i]['fields']['nf_serving_size_qty'];
                myTable+='</td>';
                myTable+='<td>';
                myTable+=ourData['hits'][i]['fields']['nf_serving_size_unit'];
                myTable+='</td>';
               myTable+='</tr>';
            }
             
            myTable+='</table>';
            document.getElementById('tablePrint').innerHTML = myTable;

        }

// window.onload = function(){
//      loadKnowlegebase();
// }
</script>
<h1>Hello Welcome to Nutrition Finder</h1>
<button id="nutrition"onclick="loadNutrition()">Nutrition</button>
 <input data-list="mylist" tabindex='1' list="mylist" type="text" placeholder="Search Nutrition" id="query" name="name" />
       <div id="tablePrint"> </div>
       <!--<img src="http://img.recipepuppy.com/622460.jpg">-->

{% endblock %}