{% extends 'layout.html' %}
{% block body %}
<script> 


    // var url="http://www.recipepuppy.com/api/?i=onions,garlic&q=omelet&p=3"
    var loadResults = function(){
        let userValue = document.getElementById("query").value;
        console.log("userValue ", userValue);
        
        var ourRequest= new XMLHttpRequest();
        // ourRequest.open('GET','http://www.recipepuppy.com/api/?i=onions,garlic&q=omelet&p=3')
        ourRequest.open('GET','/todo/api/v0.1/results/' + userValue);
        // ourRequest.open('GET',url);
        ourRequest.send();
        ourRequest.onreadystatechange=function(){
            if(ourRequest.readyState == XMLHttpRequest.DONE && ourRequest.status == 200) {
                var ourData=ourRequest.responseText;
                console.log("ourData ", ourData);
                var json = JSON.parse(ourData);

                display(json);
            }
        };

    };

    var display=function(ourData){
        var recipe;
        // var show=document.getElementById("tablePrint");
        var myTable='<table class="highlight">';
        // myTable+='<caption>Recipes</caption>';
        // let displayText = '';
            myTable+='<thead>';
            myTable+='<tr>';
            myTable+='<th>';
            myTable+='title';
            myTable+='</th>';
            myTable+='<th>';
            myTable+='Save Recipe';
            myTable+='</th>';
            myTable+='<th>';
            myTable+='ingredients';
            myTable+='</th>';
            myTable+='<th>';
            myTable+='thumbnail';
            myTable+='</th>';
            myTable+='</tr>';
            myTable+='</thead>';
            myTable+='<tbody>';
    
            //alert(ourData['results']['results'].length);
        for(var i=0;i<ourData['results']['results'].length;i++){
            recipe=ourData['results']['results'][i]['href'];
            myTable+='<tr>';  
            myTable+='<td>';
            myTable+='<a href='+'"'+ourData['results']['results'][i]['href']+'"'+'>'+ourData['results']['results'][i]['title']+'</a>';
            myTable+='</td>';
            myTable+='<td>';
            myTable+='<button class="btn btn-primary btn-sm" type="button" id="save">Save Recipe</button>';
            myTable+='</td>';
            myTable+='<td>';
            myTable+=ourData['results']['results'][i]['ingredients'];
            myTable+='</td>';
            myTable+='<td>';
            // myTable+=ourData['results']['results'][i]['thumbnail'];
            myTable+='<img src='+'"'+ourData['results']['results'][i]['thumbnail']+'"'+'>';
            myTable+='</td>';
           myTable+='</tr>';
        }
        myTable+='</tbody>';
         
        myTable+='</table>';
        document.getElementById('tablePrint').innerHTML = myTable;

    };

// window.onload = function(){
//      loadKnowlegebase();
// }
</script>
<div class="wrap">
<!--<h1>Welcome to Recipe Finder</h1>-->
<div class="card-panel green lighten-2">
<p>Note: Please enter commas to seperate multipe ingredients. (i.e. salt,sugar)</p>
<!--<button id="search" onclick="loadKnowlegebase()">Search</button>-->
<a id="search"onclick="loadResults()"class="btn btn-floating pulse"><i class="material-icons">search</i></a>
 <input data-list="mylist" tabindex='1' list="mylist" type="text" placeholder="&#xF002; Ingredient(s)"style="font-family:Arial, FontAwesome" id="query" name="name"required />
 </div>
 <div class="card blue-grey darken-1">
 <div class="card-panel dark grey lighten-2">
       <div id="tablePrint"> </div>
       <!--<img src="http://img.recipepuppy.com/622460.jpg">-->
       </div>
       </div>
       </div>

{% endblock %}