{% extends 'userLayout.html' %}
{% block body %}
<script>
	var recipe = '{{recipe}}';
	// alert(recipe);
	var recipeList=function(){
		var myTable='<table class="highlight">';
		myTable+='<thead>';
		myTable+='<tr>'
		myTable+='<th>Recipe List';
		myTable+='</th>';
		myTable+='</tr>'
		myTable+='</thead>';

	    myTable+='<tbody>';
	    var href = '';
	    var isGood = 0;
	    // alert('inside function!');
	    // [u&#39;http://www.nibbledish.com/people/AmyDelight/recipes/bol-renvers-the-original-one&#39;, u&#39;http://allrecipes.com/Recipe/One-Dish-Chicken-Noodles/Detail.aspx&#39;, u&#39;http://www.kraftfoods.com/kf/recipes/iced-cappuccino-54855.aspx&#39;]
	    for (var i = 0; i < recipe.length; i++){
	    	// alert(recipe.substring(i, i+6));
	    	if(recipe[i] == '['){
	    		//do nothing
	    	}
	    	else if(recipe.substring(i, i+6) == "u&#39;"){
	    		i+=5;
	    		// alert(recipe.substring(i, i+16))
	    		// alert(recipe.substring(i, i+2));
	    	}
	    	else if(recipe.substring(i, i+6) == "&#39;]"){
	    		isGood = 1;
	    		// alert("ALL DONE!");
	    	}
	    	else if(recipe.substring(i, i+3) == ";, "){
	    		i+=2;
	    		isGood = 1;
	    	}
	    	else if(recipe.substring(i, 1) == "'"){
	    		//do nothing`
	    	}
	    	else{
	    		href+=recipe[i];
	    	}
	    	if(isGood == 1){
	    		var finalHREF = href.replace('&#39','');
    			myTable+='<tr>';
			    myTable+='<td>'+'<a href="'+finalHREF+'"></>';
			    myTable+=finalHREF;
			    myTable+='</td>';
			    myTable+='</tr>';
			    isGood = 0;
			    // alert("HREF: " + href);
			    href = '';
	    	}
	    	// if()
	    	// // if(recipe[i] == '[' || recipe[i] == ']'){

	    	// // }
	    	// // else if(recipe[i] == 'u' && recipe[i+1] == '\''){
	    		
	    	// // }
	    	// // else if((recipe[i] == '\'' && recipe[i+1] == ']') || (recipe[i] == '\'' && recipe[i+1] == ',') ){
	    	// // 	isGood = 1;
	    	// // }
	    	// else{
	    	// 	href+=recipe[i];
	    	// }
	    	// if(isGood == 1){
	    	// }
	    }

		document.getElementById('recipeList').innerHTML = myTable;
	}
	window.onload = function() {
		recipeList();
	}
</script>
<div class="card-panel dark grey lighten-2">	
<div id="recipeList">
</div></div>
{% endblock %}