{% extends 'userLayout.html' %}
{% block body %}
<script>
	var recipe = '{{recipe}}';
	alert(recipe);
	var recipeList=function(){
		var myTable='<table class="highlight">';
		myTable+='<thead>';
		myTable+='<tr>'
		myTable+='<th>Recipe List';
		myTable+='</th>';
		myTable+='</tr>'
		myTable+='</thead>';

	    myTable+='<tbody>';
	    var href = '';
	    var isGood = 0;
	    alert('inside function!');
	    for (var i = 0; i < recipe.length; i++){
	    	alert(recipe.substring(i, i+5));
	    	// if()
	    	// // if(recipe[i] == '[' || recipe[i] == ']'){

	    	// // }
	    	// // else if(recipe[i] == 'u' && recipe[i+1] == '\''){
	    		
	    	// // }
	    	// // else if((recipe[i] == '\'' && recipe[i+1] == ']') || (recipe[i] == '\'' && recipe[i+1] == ',') ){
	    	// // 	isGood = 1;
	    	// // }
	    	// else{
	    	// 	href+=recipe[i];
	    	// }
	    	// if(isGood == 1){
	    	// 	myTable+='<tr>';
			   //  myTable+='<td>'+'<a href="'+recipe[i]+'"></>';
			   //  myTable+=recipe;
			   //  myTable+='</td>';
			   //  myTable+='</tr>';
			   //  isGood = 0;
			   //  href = '';
	    	}
		    
	    }
	    myTable+='</tbody>';
	    myTable+='</table>';

		document.getElementById('recipeList').innerHTML = myTable;
	}
	window.onload = function() {
		recipeList();
	}
</script>
<div class="card-panel dark grey lighten-2">	
<div id="recipeList">
</div></div>
{% endblock %}