{% extends 'layout.html' %}
{% block body %}
    <script>

    // var url="http://www.recipepuppy.com/api/?i=onions,garlic&q=omelet&p=3"
    var loadKnowlegebase = function(){
    var ourRequest= new XMLHttpRequest();
    ourRequest.open('GET','http://www.recipepuppy.com/api/?i=onions,garlic&q=omelet&p=3')
        // alert("inside");
    // ourRequest.open('GET',url);
    ourRequest.onload=function(){
        var ourData=ourRequest.responseText;
    alert("hello");
    console.log(ourData[0]);
}
 ourRequest.send();

}

window.onload = function(){
    // loadKnowlegebase();
}
</script>
<h1>Hello Welcome to Recipe Finder</h1>
<button id="search">Search</button>
 <input data-list="mylist" tabindex='1' list="mylist" type="text" placeholder="Enter an ingredient" id="query" name="name" />
        <datalist id="mylist">
           </datalist>

{% endblock %}